# --- Python cache & build files ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.log
*.tmp

# --- Virtual environments ---
.env
.venv
env/
venv/
*.conda
*.yaml

# --- Streamlit & cache files ---
.streamlit/
.cache/
*/__pycache__/

# --- Data folders (ignore large EEGs) ---
# Ignore full raw EEG data folders
data/
data_collection/
# Ignore everything in the outputs folder
outputs/*

# But allow these specific files
!outputs/all_pre_files_rel.csv
!outputs/cohort_baseline.csv
!outputs/cohort_baseline.json
!outputs/per_subject_baseline.csv


# --- Common EEG and large data file types ---
*.edf
*.bdf
*.mat
*.pkl
*.h5
*.hdf5
*.ckpt
*.pt
*.pth
*.joblib
*.sav



